@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --h-height: 80px;
  --nav-height: 50px;
  --f-height: 250px;
  --light: #f8f8f8;
  --bg-color: #ebebeb;
  --light-color: #8e90a7;
  --main-color: #505e79;
  --accent-color: #20304a;
  --font-color: #020512;
  --main-font: "Geologica";
  --title-font: "Geologica";
  --transition: 250ms ease-in;
  --radius: 0px;
  --shadow: drop-shadow(0px 2px 5px var(--bg-color));
  --bs-border-color: #dcdcdc;
  --bs-border-radius: 0em;
  --bs-border-radius-sm: 0em;
  --bs-border-radius-lg: 0em;
  --bs-border-radius-xl: 0em;
  --bs-border-radius-xxl: 0em;
  --bs-border-radius-2xl:
  --bs-body-line-height: 1.4em;
  --bs-body-color: #261E18;
  --bs-modal-border-radius: var(--radius);
  --bs-modal-border-width: 0px;
}
@media (max-width: 767.98px) {
  :root {
    --f-height: 450px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --h-height: 60px;
    --f-height: 350px;
  }
}

/* mixins */
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
  line-height: 140%;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: color 300ms ease-in;
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.link {
  color: var(--accent-color);
  font-weight: 400;
}
.link:hover, .link:focus {
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  color: inherit;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
@media (max-width: 1399.98px) {
  h1 {
    font-size: 3em;
  }
}
@media (max-width: 1199.98px) {
  h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 2em;
  }
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.75em;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 1.5em;
  }
}

h2, .h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 991.98px) {
  h2, .h2 {
    font-size: 1.75em;
  }
}
@media (max-width: 575.98px) {
  h2, .h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 0.75em;
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 1.25em;
  }
}

h4 {
  color: var(--main-color);
  font-size: 1.35em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5em;
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 1.2em;
  }
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 1.15em;
  }
}

h6 {
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.5em;
}

.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

strong {
  font-weight: 600;
}

.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}

.color-main {
  color: var(--main-color);
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  color: inherit;
  outline: none !important;
}

.btn, .btn-fill, .btn-border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  text-transform: uppercase;
  transition: var(--transition);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--radius);
  font-weight: 400;
  padding: 0.7em 1.5em;
}
.btn-border {
  border: 2px solid var(--light-color);
  color: var(--light-color);
  background-color: transparent;
  filter: drop-shadow(0px 0px 0px var(--bg-color));
  transition-property: color, border-color, filter;
}
.btn-border:hover, .btn-border:focus, .btn-border:active {
  border-color: var(--main-color);
  color: var(--main-color);
  filter: var(--shadow);
}
.btn-fill {
  border: 2px solid var(--light-color);
  color: #FFF;
  background-color: var(--light-color);
  filter: drop-shadow(0px 0px 0px var(--bg-color));
  transition-property: color, border-color, background-color, filter;
}
.btn-fill:hover, .btn-fill:focus, .btn-fill:active {
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: #FFF;
  filter: var(--shadow);
}
.btn:disabled, .btn-border:disabled, .btn-fill:disabled {
  pointer-events: none;
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  border-color: var(--bg-color) !important;
}
.btn-up {
  position: fixed;
  background-color: var(--main-color);
  color: #fff;
  right: 2em;
  bottom: 2em;
  z-index: 100;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 3em;
  height: 3em;
  border-radius: var(--radius);
  opacity: 0.5;
  transition: opacity var(--transition);
}
.btn-up:hover, .btn-up:focus {
  opacity: 1;
}
.btn-up:active {
  opacity: 0.8;
}
.btn-up__hide {
  display: none;
  opacity: 0;
}

.form-control, .form-select {
  --bs-border-color: var(--light-color);
  padding: 0.7em 1em;
  line-height: 140%;
  font-size: 1em;
}
.form-control::file-selector-button, .form-select::file-selector-button {
  background-color: var(--bg-color);
  padding: 0.7em 1em 0.7em 1em;
  margin: -0.7em 1em -0.7em -1em;
}

.form-check {
  margin-bottom: 0px;
}

.form-check-input {
  --bs-border-color: var(--light-color);
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

section {
  margin-bottom: 5em;
}
@media (max-width: 575.98px) {
  section {
    margin-bottom: 4em;
  }
}

.flex-1 {
  flex: 1;
}

.bg-light {
  background-color: var(--light);
}

.bg-color {
  background-color: var(--bg-color);
}

.marked-list {
  list-style: none;
  padding-left: 0px;
}
.marked-list li {
  padding-left: 2em;
  position: relative;
  line-height: 1.4em;
}
.marked-list li::before {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0px;
  z-index: 1;
  height: 0.5em;
  width: 0.75em;
  border-left: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}
.marked-list li:not(:first-child) {
  margin-top: 0.5em;
}

.box {
  border: 5px solid var(--bg-color);
  border-radius: var(--radius);
  padding: 2em;
}
@media (max-width: 575.98px) {
  .box {
    padding: 1em;
  }
}

.swiper {
  --swiper-pagination-bullet-inactive-color: var(--light-color);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-color: var(--main-color);
  --swiper-pagination-bottom: 0px;
  --swiper-navigation-sides-offset: 1em;
  --swiper-navigation-size: 2em;
  --swiper-theme-color: var(--accent-color);
  width: 100%;
  position: unset;
}
.swiper-button-prev, .swiper-button-next {
  font-weight: bold;
  opacity: 0.75;
  transition: opacity var(--transition);
  filter: none;
  transition: filter var(--transition);
}
.swiper-button-prev:hover, .swiper-button-prev:focus, .swiper-button-next:hover, .swiper-button-next:focus {
  opacity: 1;
  filter: var(--shadow);
}
.swiper-button-prev:active, .swiper-button-next:active {
  opacity: 0.85;
  filter: var(--shadow);
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
}
@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
}

header {
  height: var(--h-height);
  text-transform: uppercase;
}
header .logo {
  max-width: 300px;
  max-height: 60px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: left center;
     object-position: left center;
}
@media (max-width: 575.98px) {
  header .logo {
    max-width: 150px;
    max-height: 50px;
  }
}
@media (max-width: 575.98px) {
  header {
    font-size: 10px;
  }
}

.nav-menu {
  background-color: var(--bg-color);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--nav-height);
  z-index: 100;
}
.nav-menu ul {
  list-style: none;
  padding-left: 0px;
}
.nav-menu .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (max-width: 991.98px) {
  .nav-menu .menu {
    display: block;
  }
}
.nav-menu .menu li a {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  background-color: transparent;
  transition: var(--transition);
  transition-property: color, background-color;
}
.nav-menu .menu li a:hover, .nav-menu .menu li a:focus {
  background-color: var(--light);
  color: var(--main-color);
}
.nav-menu .menu li a:active {
  background-color: var(--light);
  color: var(--accent-color);
}
@media (max-width: 991.98px) {
  .nav-menu .menu li a {
    padding: 0.5em 1em;
  }
}
@media (min-width: 992px) {
  .nav-menu .menu .hoverMenu {
    position: relative;
  }
  .nav-menu .menu .hoverMenu_submenu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0px;
    width: 350px;
    background-color: var(--light);
    filter: var(--shadow);
  }
  .nav-menu .menu .hoverMenu_submenu li a {
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .nav-menu .menu .hoverMenu:hover > a {
    background-color: var(--light);
  }
  .nav-menu .menu .hoverMenu:hover .hoverMenu_submenu {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .nav-menu .menu .hoverMenu_submenu {
    padding-left: 1.5em;
  }
  .nav-menu .menu .hoverMenu_submenu li a {
    font-size: 0.9em;
    text-transform: capitalize;
  }
}
.nav-menu .linkGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
.nav-menu .linkGroup .down {
  display: none;
  padding: 0.5em;
}
.nav-menu .linkGroup .down svg {
  width: 1.2em;
  height: 1.2em;
  transform: rotate(0deg);
  transition: transform var(--transition);
  color: var(--main-color);
}
.nav-menu .linkGroup .down[aria-expanded=true] svg {
  transform: rotate(180deg);
}
@media (max-width: 991.98px) {
  .nav-menu .linkGroup .down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.nav-menu .gamburger-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 2em;
  padding: 0.3em;
  color: var(--light-color);
  transition: color var(--transition);
}
.nav-menu .gamburger-menu:hover, .nav-menu .gamburger-menu :focus {
  color: var(--main-color);
}
.nav-menu .gamburger-menu:active {
  color: var(--accent-color);
}

.social {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.social li a {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 2em;
  padding: 0.3em;
  color: var(--light-color);
  transition: color var(--transition);
}
.social li a:hover, .social li a :focus {
  color: var(--main-color);
}
.social li a:active {
  color: var(--accent-color);
}

main {
  min-height: calc(100vh - var(--h-height) - var(--nav-height) - var(--f-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.sec-main {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../imgs/building1920.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  filter: grayscale(0.5);
  padding: 5em 0em;
}
@media (max-width: 767.98px) {
  .sec-main {
    padding: 3em 0em;
  }
}
@media (max-width: 575.98px) {
  .sec-main {
    padding: 2em 0em;
  }
}
@media (min-width: 576px) {
  .sec-main ul {
    font-size: 1.2em;
  }
}
.sec-main ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-main ul li:not(:first-child) {
  margin-top: 0.5em;
}
.sec-main ul li svg {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.project-card {
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: var(--radius);
}
@media (max-width: 1199.98px) {
  .project-card {
    padding: 0.75em;
  }
}
.project-card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
}
@media (max-width: 1399.98px) {
  .project-card img {
    height: 220px;
  }
}
@media (max-width: 1199.98px) {
  .project-card img {
    height: 180px;
  }
}
@media (max-width: 767.98px) {
  .project-card img {
    height: 300px;
  }
}
@media (max-width: 767.98px) {
  .project-card img {
    height: 55vw;
  }
}
.project-card address {
  color: var(--main-color);
  margin-bottom: 0.5em;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.project-filter {
  border: 5px solid var(--bg-color);
  border-radius: var(--radius);
  padding: 1em;
}

.swiper-projectImg img {
  width: 100%;
}

.swiper-thumbs img {
  width: 100%;
}

.offerGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2em 4em;
}
@media (max-width: 991.98px) {
  .offerGrid {
    gap: 1em 2em;
  }
}
@media (max-width: 767.98px) {
  .offerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.offerGrid hr {
  grid-column: 2/3;
  grid-row: 1/7;
  height: 100%;
  width: 1px;
  background-color: var(--light-color);
  margin: 0px;
  border: none;
  opacity: 1;
}
@media (max-width: 767.98px) {
  .offerGrid hr {
    display: none;
  }
}
.offerGrid__item-1 {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: right;
}
@media (max-width: 767.98px) {
  .offerGrid__item-1 {
    grid-row: 1/2;
    text-align: left;
  }
}
.offerGrid__item-2 {
  grid-column: 3/4;
  grid-row: 2/4;
}
@media (max-width: 767.98px) {
  .offerGrid__item-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.offerGrid__item-3 {
  grid-column: 1/2;
  grid-row: 4/7;
  text-align: right;
}
@media (max-width: 767.98px) {
  .offerGrid__item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
  }
}
.offerGrid__item-4 {
  grid-column: 3/4;
  grid-row: 5/7;
}
@media (max-width: 767.98px) {
  .offerGrid__item-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.offerGrid__item-top, .offerGrid__item-top-reverse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  position: relative;
}
.offerGrid__item-top::before, .offerGrid__item-top-reverse::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 100%;
  width: 4em;
  height: 1px;
  background-color: var(--light-color);
}
@media (max-width: 991.98px) {
  .offerGrid__item-top::before, .offerGrid__item-top-reverse::before {
    width: 2em;
  }
}
@media (max-width: 767.98px) {
  .offerGrid__item-top::before, .offerGrid__item-top-reverse::before {
    content: unset;
  }
}
.offerGrid__item-top .num, .offerGrid__item-top-reverse .num {
  font-size: 4em;
  font-weight: 900;
  color: var(--light-color);
  line-height: 100%;
  margin-right: 0.25em;
}
.offerGrid__item-top h3, .offerGrid__item-top-reverse h3 {
  margin-bottom: 0px;
  text-align: left;
}
.offerGrid__item-top-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .offerGrid__item-top-reverse {
    flex-direction: row;
  }
}
.offerGrid__item-top-reverse::before {
  right: unset;
  left: 100%;
}
.offerGrid__item-top-reverse .num {
  margin-right: 0px;
  margin-left: 0.25em;
}
@media (max-width: 767.98px) {
  .offerGrid__item-top-reverse .num {
    margin-right: 0.25em;
    margin-left: 0px;
  }
}
.offerGrid__item-top-reverse h3 {
  text-align: right;
}
@media (max-width: 767.98px) {
  .offerGrid__item-top-reverse h3 {
    text-align: left;
  }
}

.sec-plus svg {
  display: block;
  margin: 0 auto 1em;
  color: var(--main-color);
  max-width: 100%;
  width: 6em;
}

.callback {
  border: 5px solid var(--bg-color);
  border-radius: var(--radius);
  padding: 3em 5em;
}
@media (max-width: 1199.98px) {
  .callback {
    padding: 2em 4em;
  }
}
@media (max-width: 767.98px) {
  .callback {
    padding: 2em 3em;
  }
}
@media (max-width: 575.98px) {
  .callback {
    padding: 1em;
  }
}

.sec-reviews__box {
  border: 10px solid var(--bg-color);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.sec-reviews .swiper-photos {
  width: 100%;
  height: 100%;
}
.sec-reviews .swiper-photos img, .sec-reviews .swiper-photos video, .sec-reviews .swiper-photos iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .sec-reviews .swiper-photos {
    height: 450px;
  }
}
@media (max-width: 767.98px) {
  .sec-reviews .swiper-photos {
    height: 350px;
  }
}
@media (max-width: 575.98px) {
  .sec-reviews .swiper-photos {
    height: 60vw;
  }
}

.newsPreview img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
}
@media (max-width: 1399.98px) {
  .newsPreview img {
    height: 180px;
  }
}
@media (max-width: 1199.98px) {
  .newsPreview img {
    height: 200px;
  }
}
@media (max-width: 991.98px) {
  .newsPreview img {
    height: 230px;
  }
}
@media (max-width: 767.98px) {
  .newsPreview img {
    height: 300px;
  }
}
@media (max-width: 575.98px) {
  .newsPreview img {
    height: 60vw;
  }
}
.newsPreview address {
  color: var(--accent-color);
  font-weight: 400;
}
.newsPreview time {
  color: var(--main-color);
  font-size: 0.9em;
}

.swiper-brands img {
  width: 100%;
  height: 120px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-color: var(--light);
  padding: 0.5em;
}
@media (max-width: 575.98px) {
  .swiper-brands img {
    height: 25vw;
  }
}

.sec-contacts__img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575.98px) {
  .sec-contacts__img {
    height: 24vw;
  }
}
.sec-contacts__callback {
  border: 5px solid var(--bg-color);
  border-radius: var(--radius);
  padding: 2em;
}
@media (max-width: 575.98px) {
  .sec-contacts__callback {
    padding: 1em;
  }
}
.sec-contacts__map {
  width: 100%;
  height: 400px;
}
@media (max-width: 767.98px) {
  .sec-contacts__map {
    height: 300px;
  }
}
@media (max-width: 575.98px) {
  .sec-contacts__map {
    height: 60vw;
  }
}

.text-page address {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--main-color);
}
.text-page time {
  display: block;
  font-weight: 400;
  color: var(--light-color);
}
.text-page p, .text-page address, .text-page time {
  margin-bottom: 1em;
}
.text-page ul, .text-page ol {
  margin-bottom: 1em;
}
.text-page ul li:not(:first-child), .text-page ol li:not(:first-child) {
  margin-top: 0.5em;
}
.text-page ul li::marker, .text-page ol li::marker {
  color: var(--main-color);
}

footer {
  background-color: var(--bg-color);
  height: var(--f-height);
  padding: 2em 0em;
}
footer .menu li:not(:first-child) {
  margin-top: 1em;
}
footer .menu li a {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent-color);
}
footer .menu li a:hover, footer .menu li a:focus {
  color: var(--main-color);
}
footer .info {
  font-size: 0.9em;
  line-height: 110%;
  color: var(--accent-color);
}

.offcanvas-lg {
  --bs-offcanvas-bg: var(--light);
  border-left: none !important;
}
.offcanvas-close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  z-index: 10;
  color: var(--font-color);
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: color var(--transition);
}
.offcanvas-close:hover, .offcanvas-close:focus, .offcanvas-close:active {
  color: var(--main-color);
}
.offcanvas-backdrop {
  background-color: var(--main-color);
}

.modal-content {
  position: relative;
}
.modal-content .btn-close {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;
}/*# sourceMappingURL=style.css.map */